<!--================Home Banner Area =================-->
<section class="cc-banner">
    <div class="cc-banner-wrapper d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="cc-banner-content text-center col-md-8">
                <h2>Aquerez la maîtrise et la compétence</h2>
                <p class="mb-5">Acquerez de nouvelles compétences et des astuces pour le futurs. Consultez nos articles
                                et nos tutoriels entièrement élaborés pour votre bonheur</p>
                <a class="cc-btn cc-btn-orange cc-btn-big cc-btn-outline" href="#">Acceder aux articles</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->