

<!--================ Start Recent blog posts =================-->
<section class="cc-blog py-70">
    <div class="container">
        <header class="section-header">
            <h2 class="main-title">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </header>
        <div class="row cc-blog-wrapper">
            <div class="col-lg-3 col-md-6">
                <div class="post-item">
                    <img class="img-fluid" src="{{ asset('/assets/img/latest-blog/post1.jpg') }}" alt="">
                    <a class="date" href="#">17 Mars 2018 | @Coding City</a>
                    <a href="single-blog.html"><h6>Coding city: une eclosion previsible</h6></a>
                    <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Atque maiores asperiores officia
                       laboriosam placeat porro alias...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="post-item">
                    <img class="img-fluid" src="{{ asset('/assets/img/latest-blog/post2.jpg') }}" alt="">
                    <a class="date" href="#">19 Decembre 2018 | @Coding City</a>
                    <a href="single-blog.html"><h6>Symfony5, Pas de changements majeurs dans la mise a jour</h6></a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Explicabo, unde, est saepe
                       impedit, veniam suscipit distinctio...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="post-item">
                    <img class="img-fluid" src="{{ asset('/assets/img/latest-blog/post3.jpg') }}" alt="">
                    <a class="date" href="#">22 Janvier 2017 | @Coding City</a>
                    <a href="single-blog.html"><h6>Bootstrap5 supprime Jquery. Voici les changements majeurs </h6>
                    </a>
                    <p>Lorem ipsum dolor sit amet, enim ad minim veniam...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="post-item">
                    <img class="img-fluid" src="{{ asset('/assets/img/latest-blog/post4.jpg') }}" alt="">
                    <a class="date" href="#">04 Aout 2012 | @Coding City</a>
                    <a href="single-blog.html"><h6>Innovations en Intelligence Artificielle en Afrique</h6></a>
                    <p>Dolore fugit repellendus, deserunt consequatur soluta, ex itaque quam, elit...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End recent Blog posts =================-->