

<!--================Heading Area =================-->
<section class="cc-headings py-5 bg-dark">
    <div class="container">
        <div class="cc-headings-inner row">
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="cc-headings-item">
                        <div class="media d-flex">
                            <div class="media-icon">
                                <i class="fas fa-globe"></i>
                            </div>
                            <div class="media-body">
                                <h5>Web <br>Development</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="cc-headings-item">
                        <div class="media d-flex">
                            <div class="media-icon">
                                <i class="fab fa-python"></i>
                            </div>
                            <div class="media-body">
                                <h5>Python & <br>L'intelligence Artificielle</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="cc-headings-item">
                        <div class="media d-flex">
                            <div class="media-icon">
                                <i class="fab fa-android"></i>
                            </div>
                            <div class="media-body">
                                <h5>Developpement <br>Mobile</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#">
                    <div class="cc-headings-item">
                        <div class="media d-flex">
                            <div class="media-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="media-body">
                                <h5>Cours & <br>Tutoriels</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--================End Heading Area =================-->