

<!-- Mentors section -->
<section class="mentors p_120 bg-bw" id="mentors">
    <div class="container">
        <div class="mentors-wrapper">
            <header class="section-header"><!-- Mentors header (Title + Desc) -->
                <h1 class="main-title">Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem earum molestiae pariatur
                   suscipit vero. At ea hic illum impedit iste, minus natus nemo nostrum perspiciatis reiciendis
                   repudiandae similique temporibus ullam.</p>
            </header><!-- End mentors header -->

            <div class="mentors-container cc-row"><!-- Mentors container -->
                <div class="mentor-box px-15">
                    <div class="box nn-team-item">
                        <div class="mentor-img nn-team-img">
                            <img class="rounded-circle" src="{{ asset('/assets/img/team/team-1.jpg') }}" alt="">
                            <div class="hover">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <h4 class="l4-title">Yoda</h4>
                        <p>Développeur frontend</p>
                    </div>
                </div>
                <div class="mentor-box px-15">
                    <div class="box nn-team-item">
                        <div class="mentor-img nn-team-img">
                            <img class="rounded-circle" src="{{ asset('/assets/img/team/team-1.jpg') }}" alt="">
                            <div class="hover">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <h4 class="l4-title">Yoda</h4>
                        <p>Développeur frontend</p>
                    </div>
                </div>
                <div class="mentor-box px-15">
                    <div class="box nn-team-item">
                        <div class="mentor-img nn-team-img">
                            <img class="rounded-circle" src="{{ asset('/assets/img/team/team-1.jpg') }}" alt="">
                            <div class="hover">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <h4 class="l4-title">Yoda</h4>
                        <p>Développeur frontend</p>
                    </div>
                </div>
                <div class="mentor-box px-15">
                    <div class="box nn-team-item">
                        <div class="mentor-img nn-team-img">
                            <img class="rounded-circle" src="{{ asset('/assets/img/team/team-1.jpg') }}" alt="">
                            <div class="hover">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <h4 class="l4-title">Yoda</h4>
                        <p>Développeur frontend</p>
                    </div>
                </div>
            </div><!-- End mentors container -->
        </div>
    </div>
</section><!-- End mentors section -->