

<!--================ Start Opinions Area =================-->
<section class="cc-rates p_120">
    <div class="container-fluid">
        <div class="cc-rates-slider owl-carousel owl-theme">
            <div class="item bg-light">
                <div class="cc-rates-item">
                    <ul class="starRating d-flex align-items-center justify-content-center mb-3">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star-half"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                    </ul>
                    <p>Distinctio quos natus laborum sint voluptatum molestias consequuntur odio. Ea, quis maxime
                       corrupti eum impedit est laudantium deleniti, atque, numquam alias soluta.</p>
                    <div class="raterInfo mx-auto d-flex align-items-center justify-content-center w-50">
                        <img class="owl-lazy raterImage me-3" src="../../img/rates/team-2.jpg" alt="">
                        <h5 class="raterName">S. Le Nephilim</h5>
                    </div>
                </div>
            </div>
            <div class="item bg-light">
                <div class="cc-rates-item">
                    <ul class="starRating d-flex align-items-center justify-content-center mb-3">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star-half"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                    </ul>
                    <p>Distinctio quos natus laborum sint voluptatum molestias consequuntur odio. Ea, quis maxime
                       corrupti eum impedit est laudantium deleniti, atque, numquam alias soluta.</p>
                    <div class="raterInfo mx-auto d-flex align-items-center justify-content-center w-50">
                        <img class="owl-lazy raterImage me-3" src="../../img/rates/team-2.jpg" alt="">
                        <h5 class="raterName">S. Le Nephilim</h5>
                    </div>
                </div>
            </div>
            <div class="item bg-light">
                <div class="cc-rates-item">
                    <ul class="starRating d-flex align-items-center justify-content-center mb-3">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star-half"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                    </ul>
                    <p>Distinctio quos natus laborum sint voluptatum molestias consequuntur odio. Ea, quis maxime
                       corrupti eum impedit est laudantium deleniti, atque, numquam alias soluta.</p>
                    <div class="raterInfo mx-auto d-flex align-items-center justify-content-center w-50">
                        <img class="owl-lazy raterImage me-3" src="../../img/rates/team-2.jpg" alt="">
                        <h5 class="raterName">S. Le Nephilim</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Opinions =================-->