<h1>Réinitialiser votre compte</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant <a href="{{ signedUrl }}">ici</a>. <br><br>

    ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>
