<!--================ start footer Area  =================-->
<footer class="cc-footer bg-dark p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget cc-footer-bloc">
                    <h6 class="cc-footer-title">Coding City</h6>
                    <ul class="list">
                        <li><a href="#">A propos de Coding City</a></li>
                        <li><a href="#">Enseigner sur Coding City</a></li>
                        <li><a href="#">Partenariats</a></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget cc-footer-bloc">
                    <h6 class="cc-footer-title">Communauté</h6>
                    <ul class="list">
                        <li><a href="#">Membres et étudiants</a></li>
                        <li><a href="#">Partenaires</a></li>
                        <li><a href="#">Développeurs</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget cc-footer-bloc">
                    <h6 class="cc-footer-title">Plus</h6>
                    <ul class="list">
                        <li><a href="#">Aide et support</a></li>
                        <li><a href="#">Termes et Conditions</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget cc-footer-bloc">
                    <h6 class="cc-footer-title">Me contacter</h6>
                    <ul class="list">
                        <li><a href="mailto:codingcity9014@gmail.com"><i class="fas fa-envelope"></i> Par email </a></li>
                        <li><a href="https://www.youtube.com/channel/UC6PAA52mp_7owZlZmp47NYw" target="_blank"><i class="fab fa-youtube"></i> Chaîne youtube </a></li>
                        <li><a href="https://www.facebook.com/codingcity237/" target="_blank"><i class="fab fa-facebook"></i> Facebook Coding City </a></li>
                        <li><a href="https://www.instagram.com/codingcity237/" target="_blank"><i class="fab fa-instagram"></i> Instagram Coding City </a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget nn-newsletter">
                    <div class="f_title">
                        <h3 class="cc-footer-title">Newsletter</h3>
                    </div>
                    <p>Faites la veille. Inscrivez-vous</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-md-8 footer-text m-0">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Coding City. Tous droits reservés
            </p>
            <div class="col-lg-4 col-md-4 footer-social">
                <a href="https://www.facebook.com/codingcity237/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/codingcity237/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
