<!--================Header Menu Area =================-->
<header class="cc-header">
    <div class="top_menu row m0">
        <div class="container d-flex justify-content-between">
            <div class="cc-header-social">
                <ul class="list header_social d-flex align-items-center h-100">
                    <li><a href="https://www.facebook.com/codingcity237/" target="_blank"><i
                                    class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
            <div class="cc-header-contact d-flex">
                <a class="dn_btn" href="tel:+237651479663"><i class="fas fa-phone-alt"></i>+237 651 479 663</a>
                <a class="dn_btn" href="mailto:codingcity9014@gmail.com"><i class="fas fa-at"></i>codingcity9014@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light pb-0">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{{ path('home') }}">
                    <img src="{{ asset('assets/img/MCC.png') }}" alt="Logo Coding City">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset justify-content-end" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Accueil<i class="fas fa-home"></i></a>
                        </li>
                        {#                        <li class="nav-item"><a class="nav-link" href="#">Cours</a>#}
                        {#                        <li class="nav-item">#}
                        {#                            <a href="#" class="nav-link">Tutoriels <i class="fas fa-chalkboard-teacher"></i></a>#}
                        {#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Forum <i class="fas fa-users"></i></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('blog') }}">Blog <i class="fas fa-blog"></i></a></li>
                        {#                        <li class="nav-item submenu dropdown">#}
                        {#                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="fas fa-blog"></i></a>#}
                        {#                            <ul class="dropdown-menu">#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact<i class="fas fa-envelope-open-text"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->