<h1>Réinitialiser mot de passe</h1>

<p>Pour réinitialiser votre mot de passe, cliquez sur ce <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">lien</a> </p>



<p>ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt!!!</p>
