
<aside class="single-sidebar-widget newsletter-widget">
    <h4 class="widget-title">Newsletter</h4>
    <p>Abonnez-vous à notre newsletter et soyez informer des dernières avancées dans le domaine
       de votre choix</p>
    <div class="cc-form-group">
        <div class="cc-input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <input type="text" class="cc-form-control" placeholder="Entrez email">
        </div>
        <a href="#" class="bbtns">S'inscrire</a>
    </div>
    <p class="text-bottom"><small>Vous pouvez désister à tout moment</small></p>
    <div class="br"></div>
</aside>