
<aside class="single-sidebar-widget popular-post-widget">
    <h3 class="widget-title">Articles populaires</h3>
    <div class="row flex-lg-column flex-row">
        <div class="media post_item d-flex col-md-6 col-lg-12">
            <img src="{{ asset('assets/img/blog/cat-post/repas8.jpg') |imagine_filter('posts_popular') }}"
                 alt="post">
            <div class="media-body">
                <a href="#"><h3>La cryptomonnaie et ses risques</h3></a>
                <p>Il y a 6 heures</p>
            </div>
        </div>
        <div class="media post_item d-flex col-md-6 col-lg-12">
            <img src="{{ asset('assets/img/blog/cat-post/repas7.jpg') |imagine_filter('posts_popular') }}"
                 alt="post">
            <div class="media-body">
                <a href="#"><h3>La perenite du web</h3></a>
                <p>23 Sept 2020</p>
            </div>
        </div>
        <div class="media post_item d-flex col-md-6 col-lg-12">
            <img src="{{ asset('assets/img/blog/cat-post/repas4.jpg') |imagine_filter('posts_popular') }}"
                 alt="post">
            <div class="media-body">
                <a href="#"><h3>Laravel se fait devancer</h3></a>
                <p>il y a 04 minutes</p>
            </div>
        </div>
        <div class="media post_item d-flex col-md-6 col-lg-12">
            <img src="{{ asset('assets/img/blog/cat-post/repas12.jpg') |imagine_filter('posts_popular') }}"
                 alt="post">
            <div class="media-body">
                <a href="#"><h3>Le vaste univers du code</h3></a>
                <p>moins d'une minute</p>
            </div>
        </div>

    </div>
    <div class="br"></div>
</aside>