
<aside class="single-sidebar-widget post-category-widget">
    <h4 class="widget-title">Classement par categorie</h4>
    <ul class="list cat-list">
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Technologie</p>
                <p>37</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Langage</p>
                <p>24</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Web</p>
                <p>59</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Mobile</p>
                <p>29</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>IA</p>
                <p>15</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>DeepLearning</p>
                <p>09</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>Framework</p>
                <p>44</p>
            </a>
        </li>
    </ul>
    <div class="br"></div>
</aside>