<aside class="single-sidebar-widget search-widget">
    <div class="cc-input-group">
        <input type="text" class="cc-form-control" placeholder="Rechercher articles ...">
        <span class="input-group-btn">
            <button class="cc-btn btn-widget" type="button">
                <i class="ri-search-line"></i>
            </button>
        </span>
    </div><!-- /input-group -->
    <div class="br"></div>
</aside>