<h1>Vous avez reçu une nouvelle réaction</h1>
<p>Suite à votre article <strong>{{ post.title }}</strong>, l'utilisateur {{ sender }} vous a envoyé ce mail</p>
<h4>Contenu du message</h4>
{{ message | raw }}