.text-orange {
    color: $main-color !important;
}

.text-red {
    color: $red !important;
}

.text-blue {
    color: $blue-color !important;
}

.ubuntu {
    font-family: $ubuntu !important;
}

.piazzo {
    font-family: $piazzo !important;
}

.sourcePro {
    font-family: $sourcePro !important;
}