.blog-info {
    font: 400 14px/1.2 $sourcePro;
    .post-tag {
        padding-bottom: 1rem;

        a {
            color: $font-color;
            transition: .25s ease-in;
            &:active, &.active, &.hover, &:hover {
                color: $main-color;
            }
        }
    }

    .blog-meta {
        padding-left: 0;

        a {
            display: inline-block;
            padding-bottom: 1rem;
            vertical-align: middle;
            color: $sec-color;
        }
    }
}